body {
    background-color: black;
    color: lawngreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../Content/orange.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    color: lawngreen;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.navbar {
    color: lawngreen !important;
    background-color: rgba(0, 0, 0, 0.00);
    float: left;
    width: 10%;
    height: 100%;
    font-size: large;
    padding-top: 10%;
}

.header {
    background-image: url(../Content/header.jpg);
}

#footer {
    background-image: url(../Content/header.jpg);
}