body {
    background-color: orangered;
    color: rgb(172, 227, 141);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../Content/orange.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    color: rgb(172, 227, 141);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.navbar {
    color: rgb(172, 227, 141);
    background-color: rgba(0, 0, 0, 0.00);
    float: left;
    width: 10%;
    height: 100%;
    font-size: large;
}
