body {
    background-color: black;
    color: #E6E6CC;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Content/orange.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    color: #E6E6CC;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.navbar {
    color: #E6E6CC;
    background-color: rgba(0, 0, 0, 0.00);
    float: left;
    width: 10%;
    height: 100%;
    font-size: large;
    padding-top: 10%;
    background-image: url(../Content/black.jpg);
    background-repeat: repeat-y;
}

.recipe {
    background-image: url(../Content/recipe.jpg);
    background-repeat: no-repeat;
    height: 542px;
    width: 802px;
    color: black;
    text-align: center;
    background-color: rgba(0,0,0,0);
    padding-right: 2em;
    padding-top: 2em;
    padding-left: 6em;
}
