@{
    ViewBag.Title = "About Page";
}

<h2>@ViewBag.Title.</h2>
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<p>This Recipe Application website allows you to track recipes including a list of ingredients, steps, prep time, cooking time, and the number of people the recipe serves.</p>
<p>The user can create new recipes, edit an existing recipe, delete an existing recipe, and display all of the recipes. </p>
