@{
    ViewBag.Title = "Contact Page";
}

<center><h2>@ViewBag.Title.</h2></center>
<link rel="stylesheet" type="text/css" href="~/Content/style.css">
<br /><br />
<center>
    <address>
        TEAM THREE INC.<br />
        <br />
        William O'Sullivan<br />
        Jeremy King<br />
        Garnett Sims<br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">TeamThree@yahoo.com</a><br />
    </address>
</center>
