@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe Application</h1>
    <p class="lead">This Recipe Application website allows you to track recipes including a list of ingredients, steps, prep time, cooking time, and the number of people the recipe serves.</p>
    <p class="lead">The user can create new recipes, edit an existing recipe, delete an existing recipe, and display all of the recipes. </p>
</div>

